#main-footer {
  background: #00334a;
  color: #E3DCD2;
  height: 5rem;
}

#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#main-footer .footer-content .socials a {
  color: #E3DCD2;
}
#main-footer .footer-content .socials p {
  color: #E3DCD2;
}

#main-footer .footer-content .socials .fab {
  margin-right: 1rem;
  color: #E3DCD2;
  border: 2px #E3DCD2 solid;
  border-radius: 50px;
  text-align: center;
  padding: 0.5rem;
}

#main-footer .footer-content .socials .fab:hover {
  border-color: #D96846;
  color: #D96846;
  transition: 0.5s;
}
