#header-home, #header-inner{
  background: #E3DCD2;
  color:#00334a;
}

#main-nav {
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

#logo{
  width: 5rem;
}

#main-nav ul {
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
}

#main-nav a {
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}

#main-nav a:hover {
  border-color: #c5bfb3;
}

#main-nav a.current {
  border-color: #D96846;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #E3DCD2;
}

.main-info{
  padding: 5rem 0;
  width: 60vw;
}

.main-photo img{
  margin-top: 18vh;
  width: 29vw;
}

.header-content h1 {
  margin-top: 30vh;
  font-size: 4.5rem;
  line-height: 1.2;
}

.type{
  height: 5rem;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.dl-CV{
  margin-left: 2rem;
}
