@media (max-width: 1600px) {
  .header-content {
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
  }

  .header-content h1 {
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.2;
  }

  .type {
    height: 3.5rem;
    font-size: 3rem;
  }

  .main-info {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .main-photo img {
    margin: 5rem 0 0 0;
  }

  .site-web {
    grid-template-columns: repeat(2, 1fr);
  }

  .item-text-category {
    font-size: 0.9rem;
  }

  .item-text-title {
    font-size: 1.5rem;
  }

  #about-c {
    padding: 3rem 0;
  }
}

@media (max-width: 1350px) {
  .main-info {
    padding: 0 0 5rem 0;
  }

  .main-photo img {
    margin: 5rem 0 0 0;
    width: 30vw;
  }

  #about-b .wrap ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #about-c .container {
    width: 100%;
  }

  .item-text-category {
    font-size: 1rem;
  }

  .item-text-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .header-content {
    justify-content: center;
    padding-bottom: 5rem;
  }

  .main-info {
    padding: 0;
  }

  .main-photo img {
    margin: 1rem 0;
  }

  .header-content h1 {
    margin-top: 0;
    font-size: 2rem;
    line-height: 1;
  }

  .type {
    height: 2.5rem;
    font-size: 2rem;
  }

  .site-web {
    width: 65%;
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    width: 90vw !important;
  }

  .item-text-category {
    font-size: 1rem;
  }

  .item-text-title {
    font-size: 1.8rem;
  }

  .about {
    margin: 2rem 0;
  }
}

@media (max-width: 600px) {

  /*utiliser JS pour configuer la navbar*/
  .header-content h1 {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1;
  }

  .type {
    height: 2rem;
    font-size: 1.5rem;
  }

  .lead {
    width: 90%;
    margin: auto;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .btn-L {
    display: block !important;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 1rem;
  }
  .about .container{
    padding: 0;
  }

  .about {
    margin: 1rem 0;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about .bio {
    padding: 0.8rem;
  }

  .about p, h4, h2 {
    margin: 1rem 0;
  }

  #about-c .about-logos {
    grid-template-columns: repeat(2, 1fr);
  }

  #about-c {
    padding: 1rem 0;
  }

  #main-footer .footer-content p {
    font-size: 0.7rem;
  }

  .site-web {
    width: 85%;
  }

  .item-text-category {
    font-size: 0.7rem;
  }

  .item-text-title {
    font-size: 1.2rem;
  }
  #main-footer .container{
    padding: 0;
  }
}
